<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Warung's | Explore the best taste</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <span>Warung'<span>s</span></span>
      </div>
      <nav>
        <a id="hamburger" href="#">☰</a>
        <ul class="nav__list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://github.com/ibnumardini" target="_blank">
              About Us
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="home">
      <h1>Explore the best taste at every step.</h1>
      <p>Enjoy life by choosing the best place that we provide is the best info for you.</p>
    </section>
    <main>
      <section id="content">
        <h1 class="content__title">Explores</h1>
        <div class="content__restaurants">
          <div class="restaurants__card">
            <div
              class="card__thumbnail"
              style="
                background-image: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
                  ),
                  url('https://restaurant-api.dicoding.dev/images/medium/04');
              "
            >
              <p class="thumbnail__location">Malang</p>
            </div>
            <div class="card__detail">
              <div class="detail__extras">
                <p class="extras__rating">
                  <span class="fa fa-star extras__rating_checked"></span>
                  <span class="fa fa-star extras__rating_checked"></span>
                  <span class="fa fa-star extras__rating_checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
              </div>
              <h2 class="detail__title">Fairy Cafe</h2>
              <p class="detail__desc">
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth.
                <a href="#">[more]</a>
              </p>
            </div>
          </div>
          <div class="restaurants__card">
            <div
              class="card__thumbnail"
              style="
                background-image: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
                  ),
                  url('https://restaurant-api.dicoding.dev/images/medium/45');
              "
            >
              <p class="thumbnail__location">Aceh</p>
            </div>
            <div class="card__detail">
              <div class="detail__extras">
                <p class="extras__rating">Rating: 4</p>
              </div>
              <h2 class="detail__title">Gigitan Cepat</h2>
              <p class="detail__desc">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Nulla consequat. <a href="#">[more]</a>
              </p>
            </div>
          </div>
          <div class="restaurants__card">
            <div
              class="card__thumbnail"
              style="
                background-image: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
                  ),
                  url('https://restaurant-api.dicoding.dev/images/medium/32');
              "
            >
              <p class="thumbnail__location">Surabaya</p>
            </div>
            <div class="card__detail">
              <div class="detail__extras">
                <p class="extras__rating">Rating: 3.6</p>
              </div>
              <h2 class="detail__title">Saya Suka</h2>
              <p class="detail__desc">
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth.
                <a href="#">[more]</a>
              </p>
            </div>
          </div>
          <div class="restaurants__card">
            <div
              class="card__thumbnail"
              style="
                background-image: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
                  ),
                  url('https://restaurant-api.dicoding.dev/images/medium/08');
              "
            >
              <p class="thumbnail__location">Malang</p>
            </div>
            <div class="card__detail">
              <div class="detail__extras">
                <p class="extras__rating">Rating: 4.6</p>
              </div>
              <h2 class="detail__title">Makan mudah</h2>
              <p class="detail__desc">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Nulla consequat. <a href="#">[more]</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Made with ❤️ By <a href="#">Muhammad Fatkurozi</a> - Copyright@2023.</p>
    </footer>
  </body>
</html>
