<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Warung's &#8226; Explore the best taste.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <span>Warung'<span>s</span></span>
        </div>
        <nav>
          <a id="hamburger" href="#">☰</a>
          <ul class="nav__list">
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li>
              <a href="https://github.com/ibnumardini" target="_blank">
                About Us
              </a>
            </li>
          </ul>
        </nav>
        <nav class="mobile-nav">
          <div class="logo">
            <span>Warung'<span>s</span></span>
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li>
              <a href="https://github.com/ibnumardini" target="_blank"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <section id="home">
      <div class="container">
        <h1>Explore the best taste at every step.</h1>
        <p>
          Enjoy life by choosing the best place that we provide is the best info
          for you.
        </p>
      </div>
    </section>
    <main>
      <div class="container">
        <section id="content">
          <h1 class="content__title">Explores</h1>
          <div class="content__restaurants">
              <div class="restaurants__card">
                <div class="card__thumbnail">
                  <img src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Malang">
                  <p class="thumbnail__location">Malang</p>
                </div>
                <div class="card__detail">
                  <div class="detail__extras">
                    <p class="extras__rating">
                      <span class="fa fa-star extras__rating_checked"></span>
                      <span class="fa fa-star extras__rating_checked"></span>
                      <span class="fa fa-star extras__rating_checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </p>
                  </div>
                  <h2 class="detail__title">
                    <a href="#">Fairy Cafe</a>
                  </h2>
                  <p class="detail__desc">
                    But I must explain to you how all this mistaken idea of
                    denouncing pleasure and praising pain was born and I will
                    give you a complete account of the system, and expound the
                    actual teachings of the great explorer of the truth.
                    <a href="#">[more]</a>
                  </p>
                </div>
              </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <p>
        Made with ❤️ By <a href="#">Muhammad Fatkurozi</a> - Copyright@2023.
      </p>
    </footer>
  </body>
</html>
