<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Recomendations restaurant for you." />
    <link rel="icon" href="./favicon.ico" />
    <title>The Warung's &#8226; Explore the best taste.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#content" class="skip-link">Go to content</a>
    <header class="container">
      <span class="logo">Warung's</span>
      <nav>
        <a id="hamburger">☰</a>
        <ul class="nav__list">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://github.com/ibnumardini" target="_blank">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <nav id="mobile-nav">
        <span class="logo">Warung's</span>
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://github.com/ibnumardini" target="_blank">
              About Us
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="jumbotron">
      <div class="container">
        <h1>Explore the best taste at every step.</h1>
        <p>
          Enjoy life by choosing the best place that we provide is the best info
          for you.
        </p>
      </div>
    </section>
    <main id="main-content"></main>
    <footer>
      <p>Made with ❤️ By Muhammad Fatkurozi - Copyright@2023.</p>
    </footer>
  </body>
</html>
